@page "/courseJoin"
@using CMSClone.Client.Components
@using CMSClone.Client.HttpRepositories
@using CMSClone.Shared
@using CMSClone.Shared.DTOs
@using CMSClone.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = "Teacher")]
<h3>Course Join</h3>
<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
</div>
<div class="d-flex justify-content-around">
    <CourseLayout CourseJoinDTOs="courseJoinDTOs" ActionState="@ActionState"></CourseLayout>
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>
@code {
    public List<CourseJoinDTO> courseJoinDTOs { get; set; } = new List<CourseJoinDTO>();
    public List<CourseDTO> courseDTOs { get; set; } = new List<CourseDTO>();
    public MetaData MetaData { get; set; } = new MetaData();
    public string ActionState { get; set; } = "Join";
    private RequestParameters _requestParameters = new RequestParameters();

    [Inject]
    public ICourseJoinHttpRepository CourseJoinRepo { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await GetCourse();
    }

    private async Task SelectedPage(int page)
    {
        _requestParameters.PageNumber = page;
        await GetCourse();
    }

    private async Task GetCourse()
    {
        var pagingResponse = await CourseJoinRepo.GetCourseJoin(_requestParameters);
        courseJoinDTOs = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }

    private async Task SearchChanged(string searchTerm)
    {
        Console.WriteLine(searchTerm);
        _requestParameters.PageNumber = 1;
        _requestParameters.SearchTerm = searchTerm;
        await GetCourse();
    }

    private async Task SortChanged(string orderBy)
    {
        Console.WriteLine(orderBy);
        _requestParameters.OrderBy = orderBy;
        await GetCourse();
    }
}
